{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.jsx", "*.tsx", "*.html"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
