/* App.css */

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  height: 100vh;           
  margin: 0;               
}

@keyframes winOpen {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes winClose {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.window {
  width: 300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  max-height: 70vh;
  height: auto;

  animation: winOpen 200ms ease-out forwards;
}

.window.closing {
  animation: winClose 150ms ease-in forwards;
}

.window-body {
  display: flex;
  flex-direction: column;
  min-height: 0; 
  flex: 0 1 auto; 
  min-height: 0;
}

.charts {
  overflow-y: auto;
  min-height: 0;
  position: relative;
}

/* sombra no topo */
.charts::before {
  content: '';
  position: sticky;
  top: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
  z-index: 1;
  pointer-events: none;
}

/* sombra no fundo */
.charts::after {
  content: '';
  position: sticky;
  bottom: 0;
  height: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.459), transparent);
  z-index: 1;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599px) and (orientation: portrait) {
  /* Estilos para celulares em pé */
  .background {
    background: url('/mobile-background.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    background-attachment: fixed;
    background-color: #008081;
  }

  .desktop-icon {
    transform: translateY(20vh);
  }

  .window {
    min-height: 30vh;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  /* Estilos para celulares deitados */
}

/* Tablet (600px até 1023px) */
@media (min-width: 600px) and (max-width: 1023px) { }

/* Desktop (a partir de 1024px) */
@media (min-width: 1024px) {

}